html
  head
    h1 #{hello}
    script(src='app2.js', type='text/javascript')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    // HTML Code
    script.
      console.log("test12345")
    script(src='jquery-3.4.1.min.js')
  body
    figure#logo
      img(src='./musicgif.gif', alt='musical notes', height='160', width='60')
      img(src='https://raw.githubusercontent.com/darthbatman/billboard-top-100/HEAD/logo.png', alt='Billboard Logo')
      img(src='./musicgif.gif', alt='musical notes', height='160', width='60')
    .navbar
      a(href='/') Today
      a(href='/month') Three Months Ago
      a(href='/halfYear') Six Months Ago
      a(href='/year') One Year Ago
    br
    .content
      .box.top-song
        .top-song-header
          p.number-the THE
          span.number
            | #
            img.number1(src='https://www.billboard.com/assets/1583359525/images/charts/number-one.svg?6af5a4550aebfa240dae', width='60px', height='120px')
          span.number-song SONG
        img#cover.top-song-cover.image(src='#{top100image1}', width='160', height='160')
        .top-song-details
          p.top-song-info #{topsongtitle} 
          p.top-song-info #{topsongartist}
          p.top-song-info Weeks on Chart: #{topsongweeks}
      .box.top-vid
        | Check out the #1 song!
        iframe.youtubevid(width='370', height='250', src='#{topsongvideo}')
      .box.top-100
        h4.top-100.top-100-header THE TOP 100
        ol.top-100-listing
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #1
            img#top-100-cover.top-100-cover.image(src='#{top100image1}', width='160', height='160')
            .top-100-listing.top-song-details 
              p #{top100title1}
              p #{top100artist1}
              p Weeks on Chart: #{top100weeks1}
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #2
            img#top-100-cover.top-100-cover.image(src='#{top100image2}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title2}
              p #{top100artist2}
              p Weeks on Chart: #{top100weeks2}
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #3
            img#top-100-cover.top-100-cover.image(src='#{top100image3}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title3}
              p #{top100artist3}
              p Weeks on Chart: #{top100weeks3}
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #4
            img#top-100-cover.top-100-cover.image(src='#{top100image4}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title4}
              p #{top100artist4}
              p Weeks on Chart: #{top100weeks4}
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #5
            img#top-100-cover.top-100-cover.image(src='#{top100image5}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title5}
              p #{top100artist5}
              p Weeks on Chart: #{top100weeks5}
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #6
            img#top-100-cover.top-100-cover.image(src='#{top100image6}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title6}
              p #{top100artist6}
              p Weeks on Chart: #{top100weeks6}
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #7
            img#top-100-cover.top-100-cover.image(src='#{top100image7}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title7}
              p #{top100artist7}
              p Weeks on Chart: #{top100weeks7}
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #8
            img#top-100-cover.top-100-cover.image(src='#{top100image8}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title8}
              p #{top100artist8}
              p Weeks on Chart: #{top100weeks8}
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #9
            img#top-100-cover.top-100-cover.image(src='#{top100image9}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title9}
              p #{top100artist9}
              p Weeks on Chart: #{top100weeks9}
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #10
            img#top-100-cover.top-100-cover.image(src='#{top100image10}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title10}
              p #{top100artist10}
              p Weeks on Chart: #{top100weeks10} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #11
            img#top-100-cover.top-100-cover.image(src='#{top100image11}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title11}
              p #{top100artist11}
              p Weeks on Chart: #{top100weeks11} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #12
            img#top-100-cover.top-100-cover.image(src='#{top100image12}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title12}
              p #{top100artist12}
              p Weeks on Chart: #{top100weeks12} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #13
            img#top-100-cover.top-100-cover.image(src='#{top100image13}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title13}
              p #{top100artist13}
              p Weeks on Chart: #{top100weeks13} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #14
            img#top-100-cover.top-100-cover.image(src='#{top100image14}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title14}
              p #{top100artist14}
              p Weeks on Chart: #{top100weeks14} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #15
            img#top-100-cover.top-100-cover.image(src='#{top100image15}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title15}
              p #{top100artist15}
              p Weeks on Chart: #{top100weeks15} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #16
            img#top-100-cover.top-100-cover.image(src='#{top100image16}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title16}
              p #{top100artist16}
              p Weeks on Chart: #{top100weeks16} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #17
            img#top-100-cover.top-100-cover.image(src='#{top100image17}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title17}
              p #{top100artist17}
              p Weeks on Chart: #{top100weeks17} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #18
            img#top-100-cover.top-100-cover.image(src='#{top100image18}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title18}
              p #{top100artist18}
              p Weeks on Chart: #{top100weeks18} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #19
            img#top-100-cover.top-100-cover.image(src='#{top100image19}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title19}
              p #{top100artist19}
              p Weeks on Chart: #{top100weeks19} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #20
            img#top-100-cover.top-100-cover.image(src='#{top100image20}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title20}
              p #{top100artist20}
              p Weeks on Chart: #{top100weeks20} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #21
            img#top-100-cover.top-100-cover.image(src='#{top100image21}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title21}
              p #{top100artist21}
              p Weeks on Chart: #{top100weeks21} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #22
            img#top-100-cover.top-100-cover.image(src='#{top100image22}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title22}
              p #{top100artist22}
              p Weeks on Chart: #{top100weeks22} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #23
            img#top-100-cover.top-100-cover.image(src='#{top100image23}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title23}
              p #{top100artist23}
              p Weeks on Chart: #{top100weeks23} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #24
            img#top-100-cover.top-100-cover.image(src='#{top100image24}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title24}
              p #{top100artist24}
              p Weeks on Chart: #{top100weeks24} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #25
            img#top-100-cover.top-100-cover.image(src='#{top100image25}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title25}
              p #{top100artist25}
              p Weeks on Chart: #{top100weeks25} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #26
            img#top-100-cover.top-100-cover.image(src='#{top100image26}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title26}
              p #{top100artist26}
              p Weeks on Chart: #{top100weeks26} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #27
            img#top-100-cover.top-100-cover.image(src='#{top100image27}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title27}
              p #{top100artist27}
              p Weeks on Chart: #{top100weeks27} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #28
            img#top-100-cover.top-100-cover.image(src='#{top100image28}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title28}
              p #{top100artist28}
              p Weeks on Chart: #{top100weeks28} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #29
            img#top-100-cover.top-100-cover.image(src='#{top100image29}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title29}
              p #{top100artist29}
              p Weeks on Chart: #{top100weeks29} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #30
            img#top-100-cover.top-100-cover.image(src='#{top100image30}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title30}
              p #{top100artist30}
              p Weeks on Chart: #{top100weeks30} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #31
            img#top-100-cover.top-100-cover.image(src='#{top100image31}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title31}
              p #{top100artist31}
              p Weeks on Chart: #{top100weeks31} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #32
            img#top-100-cover.top-100-cover.image(src='#{top100image32}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title32}
              p #{top100artist32}
              p Weeks on Chart: #{top100weeks32} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #33
            img#top-100-cover.top-100-cover.image(src='#{top100image33}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title33}
              p #{top100artist33}
              p Weeks on Chart: #{top100weeks33} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #34
            img#top-100-cover.top-100-cover.image(src='#{top100image34}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title34}
              p #{top100artist34}
              p Weeks on Chart: #{top100weeks34} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #35
            img#top-100-cover.top-100-cover.image(src='#{top100image35}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title35}
              p #{top100artist35}
              p Weeks on Chart: #{top100weeks35} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #36
            img#top-100-cover.top-100-cover.image(src='#{top100image36}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title36}
              p #{top100artist36}
              p Weeks on Chart: #{top100weeks36} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #37
            img#top-100-cover.top-100-cover.image(src='#{top100image37}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title37}
              p #{top100artist37}
              p Weeks on Chart: #{top100weeks37} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #38
            img#top-100-cover.top-100-cover.image(src='#{top100image38}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title38}
              p #{top100artist38}
              p Weeks on Chart: #{top100weeks38} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #39
            img#top-100-cover.top-100-cover.image(src='#{top100image39}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title39}
              p #{top100artist39}
              p Weeks on Chart: #{top100weeks39} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #40
            img#top-100-cover.top-100-cover.image(src='#{top100image40}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title40}
              p #{top100artist40}
              p Weeks on Chart: #{top100weeks40} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #41
            img#top-100-cover.top-100-cover.image(src='#{top100image41}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title41}
              p #{top100artist41}
              p Weeks on Chart: #{top100weeks41} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #42
            img#top-100-cover.top-100-cover.image(src='#{top100image42}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title42}
              p #{top100artist42}
              p Weeks on Chart: #{top100weeks42} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #43
            img#top-100-cover.top-100-cover.image(src='#{top100image43}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title43}
              p #{top100artist43}
              p Weeks on Chart: #{top100weeks43} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #44
            img#top-100-cover.top-100-cover.image(src='#{top100image44}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title44}
              p #{top100artist44}
              p Weeks on Chart: #{top100weeks44} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #45
            img#top-100-cover.top-100-cover.image(src='#{top100image45}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title45}
              p #{top100artist45}
              p Weeks on Chart: #{top100weeks45} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #46
            img#top-100-cover.top-100-cover.image(src='#{top100image46}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title46}
              p #{top100artist46}
              p Weeks on Chart: #{top100weeks46} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #47
            img#top-100-cover.top-100-cover.image(src='#{top100image47}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title47}
              p #{top100artist47}
              p Weeks on Chart: #{top100weeks47} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #48
            img#top-100-cover.top-100-cover.image(src='#{top100image48}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title48}
              p #{top100artist48}
              p Weeks on Chart: #{top100weeks48} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #49
            img#top-100-cover.top-100-cover.image(src='#{top100image49}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title49}
              p #{top100artist49}
              p Weeks on Chart: #{top100weeks49} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #50
            img#top-100-cover.top-100-cover.image(src='#{top100image50}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title50}
              p #{top100artist50}
              p Weeks on Chart: #{top100weeks50} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #51
            img#top-100-cover.top-100-cover.image(src='#{top100image51}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title51}
              p #{top100artist51}
              p Weeks on Chart: #{top100weeks51} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #52
            img#top-100-cover.top-100-cover.image(src='#{top100image52}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title52}
              p #{top100artist52}
              p Weeks on Chart: #{top100weeks52} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #53
            img#top-100-cover.top-100-cover.image(src='#{top100image53}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title53}
              p #{top100artist53}
              p Weeks on Chart: #{top100weeks53} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #54
            img#top-100-cover.top-100-cover.image(src='#{top100image54}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title54}
              p #{top100artist54}
              p Weeks on Chart: #{top100weeks54} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #55
            img#top-100-cover.top-100-cover.image(src='#{top100image55}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title55}
              p #{top100artist55}
              p Weeks on Chart: #{top100weeks55} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #56
            img#top-100-cover.top-100-cover.image(src='#{top100image56}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title56}
              p #{top100artist56}
              p Weeks on Chart: #{top100weeks56} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #57
            img#top-100-cover.top-100-cover.image(src='#{top100image57}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title57}
              p #{top100artist57}
              p Weeks on Chart: #{top100weeks57} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #58
            img#top-100-cover.top-100-cover.image(src='#{top100image58}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title58}
              p #{top100artist58}
              p Weeks on Chart: #{top100weeks58} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #59
            img#top-100-cover.top-100-cover.image(src='#{top100image59}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title59}
              p #{top100artist59}
              p Weeks on Chart: #{top100weeks59} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #60
            img#top-100-cover.top-100-cover.image(src='#{top100image60}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title60}
              p #{top100artist60}
              p Weeks on Chart: #{top100weeks60} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #61
            img#top-100-cover.top-100-cover.image(src='#{top100image61}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title61}
              p #{top100artist61}
              p Weeks on Chart: #{top100weeks61} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #62
            img#top-100-cover.top-100-cover.image(src='#{top100image62}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title62}
              p #{top100artist62}
              p Weeks on Chart: #{top100weeks62} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #63
            img#top-100-cover.top-100-cover.image(src='#{top100image63}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title63}
              p #{top100artist63}
              p Weeks on Chart: #{top100weeks63} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #64
            img#top-100-cover.top-100-cover.image(src='#{top100image64}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title64}
              p #{top100artist64}
              p Weeks on Chart: #{top100weeks64} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #65
            img#top-100-cover.top-100-cover.image(src='#{top100image65}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title65}
              p #{top100artist65}
              p Weeks on Chart: #{top100weeks65} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #66
            img#top-100-cover.top-100-cover.image(src='#{top100image66}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title66}
              p #{top100artist66}
              p Weeks on Chart: #{top100weeks66} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #67
            img#top-100-cover.top-100-cover.image(src='#{top100image67}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title67}
              p #{top100artist67}
              p Weeks on Chart: #{top100weeks67} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #68
            img#top-100-cover.top-100-cover.image(src='#{top100image68}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title68}
              p #{top100artist68}
              p Weeks on Chart: #{top100weeks68} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #69
            img#top-100-cover.top-100-cover.image(src='#{top100image69}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title69}
              p #{top100artist69}
              p Weeks on Chart: #{top100weeks69} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #70
            img#top-100-cover.top-100-cover.image(src='#{top100image70}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title70}
              p #{top100artist70}
              p Weeks on Chart: #{top100weeks70} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #71
            img#top-100-cover.top-100-cover.image(src='#{top100image71}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title71}
              p #{top100artist71}
              p Weeks on Chart: #{top100weeks71} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #72
            img#top-100-cover.top-100-cover.image(src='#{top100image72}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title72}
              p #{top100artist72}
              p Weeks on Chart: #{top100weeks72} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #73
            img#top-100-cover.top-100-cover.image(src='#{top100image73}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title73}
              p #{top100artist73}
              p Weeks on Chart: #{top100weeks73} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #74
            img#top-100-cover.top-100-cover.image(src='#{top100image74}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title74}
              p #{top100artist74}
              p Weeks on Chart: #{top100weeks74} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #75
            img#top-100-cover.top-100-cover.image(src='#{top100image75}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title75}
              p #{top100artist75}
              p Weeks on Chart: #{top100weeks75} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #76
            img#top-100-cover.top-100-cover.image(src='#{top100image76}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title76}
              p #{top100artist76}
              p Weeks on Chart: #{top100weeks76} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #77
            img#top-100-cover.top-100-cover.image(src='#{top100image77}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title77}
              p #{top100artist77}
              p Weeks on Chart: #{top100weeks77} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #78
            img#top-100-cover.top-100-cover.image(src='#{top100image78}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title78}
              p #{top100artist78}
              p Weeks on Chart: #{top100weeks78} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #79
            img#top-100-cover.top-100-cover.image(src='#{top100image79}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title79}
              p #{top100artist79}
              p Weeks on Chart: #{top100weeks79} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #80
            img#top-100-cover.top-100-cover.image(src='#{top100image80}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title80}
              p #{top100artist80}
              p Weeks on Chart: #{top100weeks80} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #81
            img#top-100-cover.top-100-cover.image(src='#{top100image81}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title81}
              p #{top100artist81}
              p Weeks on Chart: #{top100weeks81} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #82
            img#top-100-cover.top-100-cover.image(src='#{top100image82}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title82}
              p #{top100artist82}
              p Weeks on Chart: #{top100weeks82} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #83
            img#top-100-cover.top-100-cover.image(src='#{top100image83}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title83}
              p #{top100artist83}
              p Weeks on Chart: #{top100weeks83} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #84
            img#top-100-cover.top-100-cover.image(src='#{top100image84}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title84}
              p #{top100artist84}
              p Weeks on Chart: #{top100weeks84} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #85
            img#top-100-cover.top-100-cover.image(src='#{top100image85}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title85}
              p #{top100artist85}
              p Weeks on Chart: #{top100weeks85} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #86
            img#top-100-cover.top-100-cover.image(src='#{top100image86}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title86}
              p #{top100artist86}
              p Weeks on Chart: #{top100weeks86} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #87
            img#top-100-cover.top-100-cover.image(src='#{top100image87}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title87}
              p #{top100artist87}
              p Weeks on Chart: #{top100weeks87} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #88
            img#top-100-cover.top-100-cover.image(src='#{top100image88}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title88}
              p #{top100artist88}
              p Weeks on Chart: #{top100weeks88} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #89
            img#top-100-cover.top-100-cover.image(src='#{top100image89}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title89}
              p #{top100artist89}
              p Weeks on Chart: #{top100weeks89} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #90
            img#top-100-cover.top-100-cover.image(src='#{top100image90}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title90}
              p #{top100artist90}
              p Weeks on Chart: #{top100weeks90} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #91
            img#top-100-cover.top-100-cover.image(src='#{top100image91}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title91}
              p #{top100artist91}
              p Weeks on Chart: #{top100weeks91} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #92
            img#top-100-cover.top-100-cover.image(src='#{top100image92}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title92}
              p #{top100artist92}
              p Weeks on Chart: #{top100weeks92} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #93
            img#top-100-cover.top-100-cover.image(src='#{top100image93}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title93}
              p #{top100artist93}
              p Weeks on Chart: #{top100weeks93} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #94
            img#top-100-cover.top-100-cover.image(src='#{top100image94}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title94}
              p #{top100artist94}
              p Weeks on Chart: #{top100weeks94} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #95
            img#top-100-cover.top-100-cover.image(src='#{top100image95}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title95}
              p #{top100artist95}
              p Weeks on Chart: #{top100weeks95} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #96
            img#top-100-cover.top-100-cover.image(src='#{top100image96}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title96}
              p #{top100artist96}
              p Weeks on Chart: #{top100weeks96} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #97
            img#top-100-cover.top-100-cover.image(src='#{top100image97}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title97}
              p #{top100artist97}
              p Weeks on Chart: #{top100weeks97} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #98
            img#top-100-cover.top-100-cover.image(src='#{top100image98}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title98}
              p #{top100artist98}
              p Weeks on Chart: #{top100weeks98} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #99
            img#top-100-cover.top-100-cover.image(src='#{top100image99}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title99}
              p #{top100artist99}
              p Weeks on Chart: #{top100weeks99} 
          li.top-100-listing.top-100-obj
            p.top-100-listing.top-100-number #100
            img#top-100-cover.top-100-cover.image(src='#{top100image100}', width='160', height='160')
            .top-100-listing.top-song-details
              p #{top100title100}
              p #{top100artist100}
              p Weeks on Chart: #{top100weeks100} 
      .box.top-artists
        h4.top-100-header HOT Artists
        ol.top-artists-listing(style='margin-top: 50px;')
          li.top-artists-listing.top-artists-obj
            p #{topartist1}
            img#top-artist-cover.top-artist-cover.image(src='#{topartistimage1}'  width='180', height='180')
          li.top-artists-listing.top-artists-obj
            p #{topartist2}
            img#top-artist-cover.top-artist-cover.image(src='#{topartistimage2}'  width='180', height='180')
          li.top-artists-listing.top-artists-obj
            p #{topartist3}
            img#top-artist-cover.top-artist-cover.image(src='#{topartistimage3}'  width='180', height='180')
          li.top-artists-listing.top-artists-obj
            p #{topartist4}
            img#top-artist-cover.top-artist-cover.image(src='#{topartistimage4}'  width='180', height='180')
          li.top-artists-listing.top-artists-obj
            p #{topartist5}
            img#top-artist-cover.top-artist-cover.image(src='#{topartistimage5}'  width='180', height='180')
          li.top-artists-listing.top-artists-obj
            p #{topartist6}
            img#top-artist-cover.top-artist-cover.image(src='#{topartistimage6}'  width='180', height='180')
          li.top-artists-listing.top-artists-obj
            p #{topartist7}
            img#top-artist-cover.top-artist-cover.image(src='#{topartistimage7}'  width='180', height='180')
          li.top-artists-listing.top-artists-obj
            p #{topartist8}
            img#top-artist-cover.top-artist-cover.image(src='#{topartistimage8}'  width='180', height='180')
          li.top-artists-listing.top-artists-obj
            p #{topartist9}
            img#top-artist-cover.top-artist-cover.image(src='#{topartistimage9}'  width='180', height='180')
          li.top-artists-listing.top-artists-obj
            p #{topartist10}
            img#top-artist-cover.top-artist-cover.image(src='#{topartistimage10}'  width='180', height='180')
      .box.top-albums
        h4.top-100-header HOT Albums
        ol.top-albums-listing
          li.top-albums-listing.top-albums-obj
            p #{topalbum1}
            img#top-albums-cover.top-albums-cover.image(src='#{topalbumimage1}'  width='180', height='180')
          li.top-albums-listing.top-albums-obj
            p #{topalbum2}
            img#top-albums-cover.top-albums-cover.image(src='#{topalbumimage2}'  width='180', height='180')
          li.top-albums-listing.top-albums-obj
            p #{topalbum3}
            img#top-albums-cover.top-albums-cover.image(src='#{topalbumimage3}'  width='180', height='180')
          li.top-albums-listing.top-albums-obj
            p #{topalbum4}
            img#top-albums-cover.top-albums-cover.image(src='#{topalbumimage4}'  width='180', height='180')
          li.top-albums-listing.top-albums-obj
            p #{topalbum5}
            img#top-albums-cover.top-albums-cover.image(src='#{topalbumimage5}'  width='180', height='180')
          li.top-albums-listing.top-albums-obj
            p #{topalbum6}
            img#top-albums-cover.top-albums-cover.image(src='#{topalbumimage6}'  width='180', height='180')
          li.top-albums-listing.top-albums-obj
            p #{topalbum7}
            img#top-albums-cover.top-albums-cover.image(src='#{topalbumimage7}'  width='180', height='180')
          li.top-albums-listing.top-albums-obj
            p #{topalbum8}
            img#top-albums-cover.top-albums-cover.image(src='#{topalbumimage8}'  width='180', height='180')
          li.top-albums-listing.top-albums-obj
            p #{topalbum9}
            img#top-albums-cover.top-albums-cover.image(src='#{topalbumimage9}'  width='180', height='180')
          li.top-albums-listing.top-albums-obj
            p #{topalbum10}
            img#top-albums-cover.top-albums-cover.image(src='#{topalbumimage10}'  width='180', height='180')
    script(type='text/javascript').
      $.getJSON("today.json", function(json) {
      document.getElementById("cover").src = json[0].cover;
      document.getElementById("title").innerHTML = json[0].title;
      document.getElementById("artist").innerHTML = json[0].artist;
      document.getElementById("weeks-on-chart").innerHTML = json[0].position.weeksOnChart + " weeks on chart";
      document.getElementById("top-100-cover").src = json[0].cover;
      document.getElementById("top-100-title").innerHTML = json[0].title;
      document.getElementById("top-100-artist").innerHTML = json[0].artist;
      document.getElementById("100-weeks-on-chart").innerHTML = json[0].position.weeksOnChart + " weeks on chart";
      });
    link(href='music-charts.css', type='text/css', rel='stylesheet')


